<li>
	{{name}}

	<button class="devour-burger" data-id="{{id}}" data-devourburger="{{devour}}">
		{{#if devoured===false}}Devoured{{else}}Burgers{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
