<ul class="devoured-burgers">
	<div class="row align-items-center">
  {{burger_name}}

	{{!-- <button class="devour-burger" data-id="{{id}}" data-devourburger="{{devour}}">
		{{#unless devoured}}Devour Burger{{else}}Burgers{{/unless}}
	</button> --}}

	<button type="button" class="btn delete-burger" data-id="{{this.id}}">Delete</button>
  </div>
</ul>
